html {
   background-color: palegreen;
   color: blue;
   margin:0px;
}
:root{

   --fran_width : 1001px;
}

nav{
   background-color: lightblue;
   --horizontal : 0px;
   margin-left: var(--horizontal);
   margin-right: var(--horizontal);
}
article{
   border: 1px;
   border-style: solid;
   border-color:red;
   border-radius: 10px;
   padding: 10px;
   margin-left:5px;
   margin-top: var(--vertical);
   margin-bottom: var(--vertical);
   background-color: aquamarine;
   display:li;
}

